body{
    width: 300px;
    height: 225px;
    background-color: darkblue;
}
h1{
    font-size: 30px;
    user-select: none;
}
span{
    color: chartreuse;
    border-bottom: 5px solid chartreuse;
}
#box{
    font-size: 17px;
    border: 0;
    width: 275px;
}
#counter{
    font-size: 20px;
}
input:focus{
    border: 0;
}
img{
    width: 50px;
    border: 1px solid black;
    user-select: none;
    margin: 10px;
    cursor: pointer;
}